<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
    <meta charset="UTF-8">
    <title>User-Bids</title>
</head>
<body>
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Amount
        </th>
    </tr>
    <tr th:each="bid : ${bids}">
        <td><span th:text="*{bid.id}"> ID </span></td>
        <td><span th:text="*{bid.amount}"> Amount </span></td>
    </tr>
</table>
</body>
</html>